@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
} */
.logo h2{
  padding-left: 3rem;
}
.switch button{
  border-radius: 5px;
  cursor: pointer;
  padding:10px 55px;
}
.switched-btn{
  background: #06175A;

}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  color: #06175A;
  padding-left: 2rem;
  margin-left: 2rem;
}
.left-side{
  background-image: url('/auth_bg.png');
  mix-blend-mode: luminosity;
  background-size: cover;
  min-height: 100vh;
}
.card{
  /* max-width: 30rem; */
  /* margin-top: 3.5rem; */
}
.card .submit-btn{
  background: #06175A;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card-header{
  border-radius:10px 10px 0px 0px;
}
.card-body label{
  font-weight: 500;
  padding-bottom: 6px;
  background: white;
}
.card-body{
  padding: 20px 60px;
}
.card-body i{
  top:12px;
  color: grey;
  font-size: 20px;
  padding-left: 1rem;
}
.card-body input{
  padding-left: 2.5rem;
  outline: none;
}
.terms input{
accent-color: #06175A !important;
}
.card-header{
  background: #06175A;
}
.social li i{
  font-size: 22px;
}

